<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>dscesh关系图</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/themes/macarons.js"></script>

</head>
<body >
    <div id="6d352c292912420ca227a55a878f1e21" class="chart-container" style="width:100%; height:1500px; "></div>
    <script>
        var chart_6d352c292912420ca227a55a878f1e21 = echarts.init(
            document.getElementById('6d352c292912420ca227a55a878f1e21'), 'macarons', {renderer: 'canvas'});
        var option_6d352c292912420ca227a55a878f1e21 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 30000,
                "gravity": 0.2,
                "edgeLength": 30,
                "friction": 0.6,
                "layoutAnimation": true
            },
            "label": {
                "show": true,
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 0.9,
                "curveness": 0.1,
                "type": "dashed"
            },
            "roam": true,
            "draggable": true,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "\u516c\u4f17\u53f7\u6211\u7684\u4fdd\u5355\u8be6\u60c5/ziom/zkr/api/v1/wechat/order/query2/",
                    "fixed": false,
                    "symbolSize": 60
                },
                {
                    "name": "\u767b\u9646/ziam/v1/a1/login/loginVal?1663928125488",
                    "fixed": false,
                    "symbolSize": 60
                },
                {
                    "name": "\u516c\u4f17\u53f7\u9000\u4fdd\u8be6\u60c5\u9875/ziom/zkr/api/v1/wechat/order/tbQuery",
                    "fixed": false,
                    "symbolSize": 60
                },
                {
                    "name": "\u516c\u4f17\u53f7\u9000\u4fdd\u8be6\u60c5\u98752/ziom/zkr/api/v1/wechat/order/tbQuery",
                    "fixed": false,
                    "symbolSize": 60
                },
                {
                    "name": "\u516c\u4f17\u53f7\u9000\u4fdd\u8be6\u60c5\u98753/ziom/zkr/api/v1/wechat/order/tbQuery",
                    "fixed": false,
                    "symbolSize": 60
                },
                {
                    "name": "\u516c\u4f17\u53f7\u9000\u4fdd\u8be6\u60c5\u987517/ziom/zkr/api/v1/wechat/order/tbQuery",
                    "fixed": false,
                    "symbolSize": 60
                },
                {
                    "name": "\u516c\u4f17\u53f7\u9000\u4fdd\u8be6\u60c5\u987516/ziom/zkr/api/v1/wechat/order/tbQuery",
                    "fixed": false,
                    "symbolSize": 60
                },
                {
                    "name": "\u6570\u636e\u5e93\u81ea\u5b9a\u6821\u9a8c/mock/sqlasdfasdf",
                    "fixed": false,
                    "symbolSize": 60
                },
                {
                    "name": "\u516c\u4f17\u53f7\u9000\u4fdd\u8be6\u60c5\u987512/ziom/zkr/api/v1/wechat/order/tbQuery",
                    "fixed": false,
                    "symbolSize": 60
                },
                {
                    "name": "\u516c\u4f17\u53f7\u9000\u4fdd\u8be6\u60c5\u987513/ziom/zkr/api/v1/wechat/order/tbQuery",
                    "fixed": false,
                    "symbolSize": 60
                },
                {
                    "name": "\u516c\u4f17\u53f7\u9000\u4fdd\u8be6\u60c5\u987515/ziom/zkr/api/v1/wechat/order/tbQuery",
                    "fixed": false,
                    "symbolSize": 60
                }
            ],
            "edgeLabel": {
                "show": true,
                "position": "middle",
                "color": "blue",
                "margin": 8,
                "formatter":             function(params){            return params.value            }            
            },
            "edgeSymbol": [
                "circle",
                "arrow"
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "\u516c\u4f17\u53f7\u6211\u7684\u4fdd\u5355\u8be6\u60c5/ziom/zkr/api/v1/wechat/order/query2/",
                    "target": "\u516c\u4f17\u53f7\u6211\u7684\u4fdd\u5355\u8be6\u60c5/ziom/zkr/api/v1/wechat/order/query2/",
                    "value": "[success]=False",
                    "draggable": "true"
                },
                {
                    "source": "\u516c\u4f17\u53f7\u6211\u7684\u4fdd\u5355\u8be6\u60c5/ziom/zkr/api/v1/wechat/order/query2/",
                    "target": "\u516c\u4f17\u53f7\u9000\u4fdd\u8be6\u60c5\u987515/ziom/zkr/api/v1/wechat/order/tbQuery",
                    "value": "[error][code]=200",
                    "draggable": "true"
                },
                {
                    "source": "\u516c\u4f17\u53f7\u6211\u7684\u4fdd\u5355\u8be6\u60c5/ziom/zkr/api/v1/wechat/order/query2/",
                    "target": "\u516c\u4f17\u53f7\u9000\u4fdd\u8be6\u60c5\u987517/ziom/zkr/api/v1/wechat/order/tbQuery",
                    "value": "[data][1][productId]=105201001",
                    "draggable": "true"
                },
                {
                    "source": "\u516c\u4f17\u53f7\u6211\u7684\u4fdd\u5355\u8be6\u60c5/ziom/zkr/api/v1/wechat/order/query2/",
                    "target": "\u6570\u636e\u5e93\u81ea\u5b9a\u6821\u9a8c/mock/sqlasdfasdf",
                    "value": "[data][1][dutyList][3][dutyAmountShow]=600\u4e07",
                    "draggable": "true"
                },
                {
                    "source": "\u516c\u4f17\u53f7\u6211\u7684\u4fdd\u5355\u8be6\u60c5/ziom/zkr/api/v1/wechat/order/query2/",
                    "target": "\u767b\u9646/ziam/v1/a1/login/loginVal?1663928125488",
                    "value": "=",
                    "draggable": "true"
                },
                {
                    "source": "\u767b\u9646/ziam/v1/a1/login/loginVal?1663928125488",
                    "target": "\u516c\u4f17\u53f7\u9000\u4fdd\u8be6\u60c5\u9875/ziom/zkr/api/v1/wechat/order/tbQuery",
                    "value": "\u65e0\u91cd\u5b9a\u5411[\u6b63\u5e38\u6267\u884c]",
                    "draggable": "true"
                },
                {
                    "source": "\u516c\u4f17\u53f7\u9000\u4fdd\u8be6\u60c5\u9875/ziom/zkr/api/v1/wechat/order/tbQuery",
                    "target": "\u516c\u4f17\u53f7\u9000\u4fdd\u8be6\u60c5\u98752/ziom/zkr/api/v1/wechat/order/tbQuery",
                    "value": "\u65e0\u91cd\u5b9a\u5411[\u6b63\u5e38\u6267\u884c]",
                    "draggable": "true"
                },
                {
                    "source": "\u516c\u4f17\u53f7\u9000\u4fdd\u8be6\u60c5\u98752/ziom/zkr/api/v1/wechat/order/tbQuery",
                    "target": "\u516c\u4f17\u53f7\u9000\u4fdd\u8be6\u60c5\u98753/ziom/zkr/api/v1/wechat/order/tbQuery",
                    "value": "[success]=False",
                    "draggable": "true"
                },
                {
                    "source": "\u516c\u4f17\u53f7\u9000\u4fdd\u8be6\u60c5\u98752/ziom/zkr/api/v1/wechat/order/tbQuery",
                    "target": "\u516c\u4f17\u53f7\u9000\u4fdd\u8be6\u60c5\u98753/ziom/zkr/api/v1/wechat/order/tbQuery",
                    "value": "[error][code]=2003",
                    "draggable": "true"
                },
                {
                    "source": "\u516c\u4f17\u53f7\u9000\u4fdd\u8be6\u60c5\u98752/ziom/zkr/api/v1/wechat/order/tbQuery",
                    "target": "\u516c\u4f17\u53f7\u9000\u4fdd\u8be6\u60c5\u987517/ziom/zkr/api/v1/wechat/order/tbQuery",
                    "value": "[data][1][policyNo]=GS183424NH2200000024",
                    "draggable": "true"
                },
                {
                    "source": "\u516c\u4f17\u53f7\u9000\u4fdd\u8be6\u60c5\u98752/ziom/zkr/api/v1/wechat/order/tbQuery",
                    "target": "\u516c\u4f17\u53f7\u9000\u4fdd\u8be6\u60c5\u98753/ziom/zkr/api/v1/wechat/order/tbQuery",
                    "value": "=",
                    "draggable": "true"
                },
                {
                    "source": "\u516c\u4f17\u53f7\u9000\u4fdd\u8be6\u60c5\u98753/ziom/zkr/api/v1/wechat/order/tbQuery",
                    "target": "\u516c\u4f17\u53f7\u9000\u4fdd\u8be6\u60c5\u987517/ziom/zkr/api/v1/wechat/order/tbQuery",
                    "value": "[success]=False",
                    "draggable": "true"
                },
                {
                    "source": "\u516c\u4f17\u53f7\u9000\u4fdd\u8be6\u60c5\u98753/ziom/zkr/api/v1/wechat/order/tbQuery",
                    "target": "\u516c\u4f17\u53f7\u9000\u4fdd\u8be6\u60c5\u987517/ziom/zkr/api/v1/wechat/order/tbQuery",
                    "value": "[error][code]=200",
                    "draggable": "true"
                },
                {
                    "source": "\u516c\u4f17\u53f7\u9000\u4fdd\u8be6\u60c5\u98753/ziom/zkr/api/v1/wechat/order/tbQuery",
                    "target": "\u516c\u4f17\u53f7\u9000\u4fdd\u8be6\u60c5\u987517/ziom/zkr/api/v1/wechat/order/tbQuery",
                    "value": "[data][1][policyNo]=GS183424NH2200000024",
                    "draggable": "true"
                },
                {
                    "source": "\u516c\u4f17\u53f7\u9000\u4fdd\u8be6\u60c5\u98753/ziom/zkr/api/v1/wechat/order/tbQuery",
                    "target": "\u516c\u4f17\u53f7\u9000\u4fdd\u8be6\u60c5\u987517/ziom/zkr/api/v1/wechat/order/tbQuery",
                    "value": "=",
                    "draggable": "true"
                },
                {
                    "source": "\u516c\u4f17\u53f7\u9000\u4fdd\u8be6\u60c5\u987517/ziom/zkr/api/v1/wechat/order/tbQuery",
                    "target": "\u516c\u4f17\u53f7\u9000\u4fdd\u8be6\u60c5\u987516/ziom/zkr/api/v1/wechat/order/tbQuery",
                    "value": "\u65e0\u91cd\u5b9a\u5411[\u6b63\u5e38\u6267\u884c]",
                    "draggable": "true"
                },
                {
                    "source": "\u516c\u4f17\u53f7\u9000\u4fdd\u8be6\u60c5\u987516/ziom/zkr/api/v1/wechat/order/tbQuery",
                    "target": "\u6570\u636e\u5e93\u81ea\u5b9a\u6821\u9a8c/mock/sqlasdfasdf",
                    "value": "\u65e0\u91cd\u5b9a\u5411[\u6b63\u5e38\u6267\u884c]",
                    "draggable": "true"
                },
                {
                    "source": "\u6570\u636e\u5e93\u81ea\u5b9a\u6821\u9a8c/mock/sqlasdfasdf",
                    "target": "\u516c\u4f17\u53f7\u9000\u4fdd\u8be6\u60c5\u987512/ziom/zkr/api/v1/wechat/order/tbQuery",
                    "value": "\u65e0\u91cd\u5b9a\u5411[\u6b63\u5e38\u6267\u884c]",
                    "draggable": "true"
                },
                {
                    "source": "\u516c\u4f17\u53f7\u9000\u4fdd\u8be6\u60c5\u987512/ziom/zkr/api/v1/wechat/order/tbQuery",
                    "target": "\u516c\u4f17\u53f7\u9000\u4fdd\u8be6\u60c5\u987513/ziom/zkr/api/v1/wechat/order/tbQuery",
                    "value": "\u65e0\u91cd\u5b9a\u5411[\u6b63\u5e38\u6267\u884c]",
                    "draggable": "true"
                },
                {
                    "source": "\u516c\u4f17\u53f7\u9000\u4fdd\u8be6\u60c5\u987513/ziom/zkr/api/v1/wechat/order/tbQuery",
                    "target": "\u516c\u4f17\u53f7\u9000\u4fdd\u8be6\u60c5\u987515/ziom/zkr/api/v1/wechat/order/tbQuery",
                    "value": "\u65e0\u91cd\u5b9a\u5411[\u6b63\u5e38\u6267\u884c]",
                    "draggable": "true"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "title": [
        {
            "show": true,
            "text": "dscesh\u5173\u7cfb\u56fe",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_6d352c292912420ca227a55a878f1e21.setOption(option_6d352c292912420ca227a55a878f1e21);
            window.addEventListener('resize', function(){
                chart_6d352c292912420ca227a55a878f1e21.resize();
            })
    </script>
</body>
</html>
