{% extends 'web/layout/layoutlast.html' %}
{%  load static %}
{% block css %}
    <link href="{% static "css/sb-admin-2.min.css" %}" rel="stylesheet"  />
    <link href={% static "vendor/datatables/dataTables.bootstrap4.min.css" %} rel="stylesheet" />
{% endblock %}
{% block content %}

    <div class="container-fluid">
        <div class="card shadow mb-4">
                    <!-- DataTales Example -->
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">接口测试用例</h6>
                        </div>
                            <div>
                                <a class="btn btn-success " style="width: 100px ;display:block ; margin-top: 15px; margin-left: 15px"  href="/list/of/manual/test/cases/add/"  >
                                <span class="glyphicon glyphicon-plus-sign"  aria-hidden="true"> 新建接口测试用例</span>

                            </a>
                            </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>手动测试用例名称</th>
                                                <th>请求地址</th>
                                                <th>请求方法</th>
                                                <th>运行结果</th>
                                                <th>所属环境</th>
                                                <th>创建时间</th>
                                                <th>所属测试集</th>
                                                <th>创建人</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                        {%  for ff in fro %}
                                            <tr>
                                                <td  class=" test_cs ">{{ forloop.counter}}</td>
                                                <td  class=" test_cs ">{{ ff.test_cases_name }}</td>
                                                <td  class=" test_cs ">{{ ff.request_url }}</td>
                                                <td  class=" test_cs ">{{ff.get_request_method_display  }}</td>
                                                <td  class=" test_cs ">{{ff.get_run_the_result_display }}</td>
                                                <td  class=" test_cs ">{{ff.environment_id.environment_name}}</td>
                                                <td  class=" test_cs ">{{ff.test_case_create_time }}</td>

                                                <td  class=" test_cs ">
                                                    {% for ii in ff.test_set_tasks.all %}
                                                    {{ ii }}
                                                    {%  endfor %}
                                                </td>
                                                <td  class=" test_cs ">{{ff.creat_user }}</td>
                                                <td>
                                                        <a class="btn  btn-primary btn-xs" href="/list/of/manual/test/cases/run/{{ ff.manual_test_cases_id }}/">运行</a>
                                                        <a class="btn  btn-primary  btn-xs " href="/list/of/manual/test/cases/edit/{{ ff.manual_test_cases_id }}/">编辑</a>
                                                        <a class="btn  btn-primary  btn-xs " href="/list/of/manual/test/cases/log/{{ ff.manual_test_cases_id }}/">日志</a>
                                                        <a class="btn  btn-danger  btn-xs " href="/list/of/manual/test/cases/delet/{{ ff.manual_test_cases_id }}/">删除</a>
														<a class="btn  btn-danger  btn-xs " href="/test/set/tasks/disassociaten/{{ ff.manual_test_cases_id }}/">取消关联</a>
                                                </td>

                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                </div>

{% endblock %}
{% block js %}
    <script src="{% static '/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static '/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static '/js/demo/datatables-demo.js' %}"></script>
{% endblock %}
