{% extends 'web/layout/layoutlast.html' %}
{%  load static %}
{% block css %}
    <link href="{% static "css/sb-admin-2.min.css" %}" rel="stylesheet"  />
    <link href={% static "vendor/datatables/dataTables.bootstrap4.min.css" %} rel="stylesheet" />
    <link href="{% static "css/jquery.json-viewer.css" %}" rel="stylesheet" />
{% endblock %}
{% block content %}
    <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">步骤信息</h1>
                    </div>


                    <div class="row">


                            <!-- Collapsable Card Example -->
                            <div class="card shadow mb-3">
                                <!-- Card Header - Accordion -->
                                <a href="#InterfaceName" class="d-block card-header py-3" data-toggle="collapse"
                                    role="button" aria-expanded="true" aria-controls="InterfaceName">
                                    <h6 class="m-0 font-weight-bold text-primary">步骤名</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse show" id="InterfaceName">
                                    <div class="card-body">
                                       {{ data.story_test_case_name }}
                                    </div>
                                </div>
                            </div>
                                                        <div class="card shadow mb-3">
                                <!-- Card Header - Accordion -->
                                <a href="#InFieldDescription" class="d-block card-header py-3" data-toggle="collapse"
                                    role="button" aria-expanded="true" aria-controls="InFieldDescription">
                                    <h6 class="m-0 font-weight-bold text-primary">步骤序号</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse show" id="ResponseParameters">
                                    <div class="card-body">
                                       {{ data.serial_number }}
                                    </div>
                                </div>
                            </div>

                            <div class="card shadow mb-3">
                                <!-- Card Header - Accordion -->
                                <a href="#InterfaceUrl" class="d-block card-header py-3" data-toggle="collapse"
                                    role="button" aria-expanded="true" aria-controls="InterfaceUrl">
                                    <h6 class="m-0 font-weight-bold text-primary">步骤请求地址</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse show" id="InterfaceUrl">
                                    <div class="card-body">
                                       {{ data.test_report_url }}
                                    </div>
                                </div>
                            </div>
                        <div class="card shadow mb-3">
                                <!-- Card Header - Accordion -->
                                <a href="#RequestMethon" class="d-block card-header py-3" data-toggle="collapse"
                                    role="button" aria-expanded="true" aria-controls="RequestMethon">
                                    <h6 class="m-0 font-weight-bold text-primary">请求方式</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse show" id="InterfaceUrl">
                                    <div class="card-body">
                                       {{ data.get_request_method_display}}
                                    </div>
                                </div>
                            </div>



                                <div class="card shadow mb-3">
                                    <!-- Card Header - Accordion -->
                                    <a href="#RequestParameters" class="d-block card-header py-3" data-toggle="collapse"
                                        role="button" aria-expanded="true" aria-controls="RequestParameters">
                                        <h6 class="m-0 font-weight-bold text-primary">请求参数</h6>
                                    </a>
                                    <!-- Card Content - Collapse -->
                                    <div class="collapse show" id="RequestParameters">
                                        <div class="card-body">

                                                {{ data.test_report_request_parameters }}

                                        </div>
                                    </div>
                                </div>

                            <div class="card shadow mb-3">
                                <!-- Card Header - Accordion -->
                                <a href="#ResponseParameters" class="d-block card-header py-3" data-toggle="collapse"
                                    role="button" aria-expanded="true" aria-controls="ResponseParameters">
                                    <h6 class="m-0 font-weight-bold text-primary">响应参数</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse show" id="ResponseParameters">
                                    <div class="card-body">
                                       {{ data.test_report_reponse_parameters }}
                                    </div>
                                </div>
                            </div>

                        <div class="card shadow mb-3">
                                <!-- Card Header - Accordion -->
                                <a href="#ResponseResult" class="d-block card-header py-3" data-toggle="collapse"
                                    role="button" aria-expanded="true" aria-controls="ResponseResult">
                                    <h6 class="m-0 font-weight-bold text-primary">测试结果</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse show" id="ResponseResult">
                                    <div class="card-body">
                                       {{ data.get_execution_results_display }}
                                    </div>
                                </div>
                            </div>




                        <div class="card shadow mb-3">
                                <!-- Card Header - Accordion -->
                                <a href="#CustomVariable" class="d-block card-header py-3" data-toggle="collapse"
                                    role="button" aria-expanded="true" aria-controls="CustomVariable">
                                    <h6 class="m-0 font-weight-bold text-primary">自定义变量</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse show" id="CustomVariable">
                                    <div class="card-body">
                                       {{ data.custom_variable }}
                                    </div>
                                </div>
                            </div>

                        <div class="card shadow mb-3">
                                <!-- Card Header - Accordion -->
                                <a href="#CheckValue" class="d-block card-header py-3" data-toggle="collapse"
                                    role="button" aria-expanded="true" aria-controls="CheckValue">
                                    <h6 class="m-0 font-weight-bold text-primary">校验值</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse show" id="CheckValue">
                                    <div class="card-body">
                                       {{ data.verify_the_response_value }}
                                    </div>
                                </div>
                        </div>
                        <div class="card shadow mb-3">
                                <!-- Card Header - Accordion -->
                                <a href="#ExtractTheResponseValue" class="d-block card-header py-3" data-toggle="collapse"
                                    role="button" aria-expanded="true" aria-controls="ExtractTheResponseValue">
                                    <h6 class="m-0 font-weight-bold text-primary">提取校验值</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse show" id="ExtractTheResponseValue">
                                    <div class="card-body">
                                       {{ data.extract_the_response_value }}
                                    </div>
                                </div>
                        </div>
                        <div class="card shadow mb-3">
                                <!-- Card Header - Accordion -->
                                <a href="#ResponseVariable" class="d-block card-header py-3" data-toggle="collapse"
                                    role="button" aria-expanded="true" aria-controls="ResponseVariable">
                                    <h6 class="m-0 font-weight-bold text-primary">响应自定义变量</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse show" id="ResponseVariable">
                                    <div class="card-body">
                                       {{ data.response_variable}}
                                    </div>
                                </div>
                        </div>
                        <div class="card shadow mb-3">
                                <!-- Card Header - Accordion -->
                                <a href="#JsonParse" class="d-block card-header py-3" data-toggle="collapse"
                                    role="button" aria-expanded="true" aria-controls="JsonParse">
                                    <h6 class="m-0 font-weight-bold text-primary">json解析</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse " id="JsonParse">
                                    <div class="card-body">
                                       <textarea style="width:1000px;height:500px;" id="json-input" autocomplete="off">
                                         {{ data.test_report_reponse_parameters }}
                                        </textarea>
                                            <p class="options">
                                            选项:
                                            <label title="Generate node as collapsed">
                                                <input type="checkbox" id="collapsed">崩溃节点
                                            </label>
                                            <label title="Allow root element to be collasped">
                                                <input type="checkbox" id="root-collapsable" checked>允许折叠根元素
                                            </label>
                                            <label title="Surround keys with quotes">
                                                <input type="checkbox" id="with-quotes">带引号的环绕键
                                            </label>
                                            <label title="Generate anchor tags for URL values">
                                                <input type="checkbox" id="with-links" checked>
                                                为 URL 值生成锚标记
                                            </label>
                                            </p>

                                            <button class="btn  btn-primary  btn-xs " id="btn-json-viewer" title="run jsonViewer()">转换</button>

                                                    <pre id="json-renderer"></pre>

                                                <pre id="json-renderer"></pre>


                                    </div>
                                </div>
                            </div>



                        </div>

                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>

{% endblock %}
{% block js %}
    <script src="{% static '/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static '/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static '/js/demo/datatables-demo.js' %}"></script>
    <script>
        $(function() {
            function renderJson() {
                try {
                    var input = eval('(' + $('#json-input').val() + ')');
                }
                catch (error) {
                    return alert("Cannot eval JSON: " + error);
                }
                var options = {
                    collapsed: $('#collapsed').is(':checked'),
                    rootCollapsable: $('#root-collapsable').is(':checked'),
                    withQuotes: $('#with-quotes').is(':checked'),
                    withLinks: $('#with-links').is(':checked')
                };
                $('#json-renderer').jsonViewer(input, options);
            }
            // Generate on click
            $('#btn-json-viewer').click(renderJson);
            // Generate on option change
            $('p.options input[type=checkbox]').click(renderJson);
            // Display JSON sample on page load
            renderJson();
        });

        //[jquery.json-viewer.js] START
        /**
         * jQuery json-viewer
         * @author: Alexandre Bodelot <alexandre.bodelot@gmail.com>
         * @link: https://github.com/abodelot/jquery.json-viewer
         */
        (function($) {

            /**
             * Check if arg is either an array with at least 1 element, or a dict with at least 1 key
             * @return boolean
             */
            function isCollapsable(arg) {
                return arg instanceof Object && Object.keys(arg).length > 0;
            }

            /**
             * Check if a string represents a valid url
             * @return boolean
             */
            function isUrl(string) {
                var urlRegexp = /^(https?:\/\/|ftps?:\/\/)?([a-z0-9%-]+\.){1,}([a-z0-9-]+)?(:(\d{1,5}))?(\/([a-z0-9\-._~:/?#[\]@!$&'()*+,;=%]+)?)?$/i;
                return urlRegexp.test(string);
            }

            /**
             * Transform a json object into html representation
             * @return string
             */
            function json2html(json, options) {
                var html = '';
                if (typeof json === 'string') {
                    // Escape tags and quotes
                    json = json
                        .replace(/&/g, '&amp;')
                        .replace(/</g, '&lt;')
                        .replace(/>/g, '&gt;')
                        .replace(/'/g, '&apos;')
                        .replace(/"/g, '&quot;');

                    if (options.withLinks && isUrl(json)) {
                        html += '<a href="' + json + '" class="json-string" target="_blank">' + json + '</a>';
                    } else {
                        // Escape double quotes in the rendered non-URL string.
                        json = json.replace(/&quot;/g, '\\&quot;');
                        html += '<span class="json-string">"' + json + '"</span>';
                    }
                } else if (typeof json === 'number') {
                    html += '<span class="json-literal">' + json + '</span>';
                } else if (typeof json === 'boolean') {
                    html += '<span class="json-literal">' + json + '</span>';
                } else if (json === null) {
                    html += '<span class="json-literal">null</span>';
                } else if (json instanceof Array) {
                    if (json.length > 0) {
                        html += '[<ol class="json-array">';
                        for (var i = 0; i < json.length; ++i) {
                            html += '<li>';
                            // Add toggle button if item is collapsable
                            if (isCollapsable(json[i])) {
                                html += '<a href class="json-toggle"></a>';
                            }
                            html += json2html(json[i], options);
                            // Add comma if item is not last
                            if (i < json.length - 1) {
                                html += ',';
                            }
                            html += '</li>';
                        }
                        html += '</ol>]';
                    } else {
                        html += '[]';
                    }
                } else if (typeof json === 'object') {
                    var keyCount = Object.keys(json).length;
                    if (keyCount > 0) {
                        html += '{<ul class="json-dict">';
                        for (var key in json) {
                            if (Object.prototype.hasOwnProperty.call(json, key)) {
                                html += '<li>';
                                var keyRepr = options.withQuotes ?
                                    '<span class="json-string">"' + key + '"</span>' : key;
                                // Add toggle button if item is collapsable
                                if (isCollapsable(json[key])) {
                                    html += '<a href class="json-toggle">' + keyRepr + '</a>';
                                } else {
                                    html += keyRepr;
                                }
                                html += ': ' + json2html(json[key], options);
                                // Add comma if item is not last
                                if (--keyCount > 0) {
                                    html += ',';
                                }
                                html += '</li>';
                            }
                        }
                        html += '</ul>}';
                    } else {
                        html += '{}';
                    }
                }
                return html;
            }

            /**
             * jQuery plugin method
             * @param json: a javascript object
             * @param options: an optional options hash
             */
            $.fn.jsonViewer = function(json, options) {
                // Merge user options with default options
                options = Object.assign({}, {
                    collapsed: false,
                    rootCollapsable: true,
                    withQuotes: false,
                    withLinks: true
                }, options);

                // jQuery chaining
                return this.each(function() {

                    // Transform to HTML
                    var html = json2html(json, options);
                    if (options.rootCollapsable && isCollapsable(json)) {
                        html = '<a href class="json-toggle"></a>' + html;
                    }

                    // Insert HTML in target DOM element
                    $(this).html(html);
                    $(this).addClass('json-document');

                    // Bind click on toggle buttons
                    $(this).off('click');
                    $(this).on('click', 'a.json-toggle', function() {
                        var target = $(this).toggleClass('collapsed').siblings('ul.json-dict, ol.json-array');
                        target.toggle();
                        if (target.is(':visible')) {
                            target.siblings('.json-placeholder').remove();
                        } else {
                            var count = target.children('li').length;
                            var placeholder = count + (count > 1 ? ' items' : ' item');
                            target.after('<a href class="json-placeholder">' + placeholder + '</a>');
                        }
                        return false;
                    });

                    // Simulate click on toggle button when placeholder is clicked
                    $(this).on('click', 'a.json-placeholder', function() {
                        $(this).siblings('a.json-toggle').click();
                        return false;
                    });

                    if (options.collapsed == true) {
                        // Trigger click to collapse all nodes
                        $(this).find('a.json-toggle').click();
                    }
                });
            };
        })(jQuery);
    //[jquery.json-viewer.js] END
    </script>
{% endblock %}