{% extends 'web/layout/layoutlast.html' %}
{%  load static %}
{% block css %}
    <link href="{% static "css/sb-admin-2.min.css" %}" rel="stylesheet"  />
    <link href={% static "vendor/datatables/dataTables.bootstrap4.min.css" %} rel="stylesheet" />
{% endblock %}
{% block content %}

    <div class="container-fluid">
        <div class="card shadow mb-4">
                    <!-- DataTales Example -->
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">故事测试用例列表</h6>
                        </div>

                               <div class="row">
                               <div class="col-md-4 ">
                                   <div>
                                        <a class="btn btn-success " style="width: 120px ;display:block ; margin-top: 15px; margin-left: 15px"  href="/story/test/cases/add/"  >
                                            <span class="glyphicon glyphicon-plus-sign"  aria-hidden="true"> 新建故事测试用例集</span>
                                        </a>
                                        </div>
                               </div>
                               </div>




                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>故事测试用例名称</th>
                                                <th>创建人</th>
                                                <th>创建时间</th>
                                                <th>运行时间</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {%  for ff in dadf %}

                                            <tr>
                                                <td  class=" test_cs ">{{ forloop.counter}}</td>
                                                <td  class=" test_cs ">{{ ff.story_test_set_name }}</td>
                                                <td  class=" test_cs ">{{ ff.create_user }}</td>
                                                <td  class=" test_cs ">{{ ff.create_time }}</td>
                                                <td  class=" test_cs ">{{ ff.run_time }}</td>
                                                <td>

                                                    <a class="btn  btn-primary  btn-xs " href="/story/test/cases/run/{{ ff.story_test_set_id }}/">执行</a>
                                                    <a class="btn  btn-primary  btn-xs " href="/story/test/cases/edit/{{ ff.story_test_set_id }}/">编辑</a>
                                                    <a class="btn  btn-danger  btn-xs " href="/story/test/cases/delet/{{ ff.story_test_set_id }}/">删除</a>
                                                    <a class="btn  btn-success  btn-xs " href="/story/test/cases/data/list/{{ ff.story_test_set_id }}/">查看测试用例</a>
                                                    <a class="btn  btn-success  btn-xs " href="/story/test/cases/data/copy/{{ ff.story_test_set_id }}/">复制测试集</a>
                                                    <a class="btn   btn-primary btn-xs " href="/story/test/cases/data/web/diagraml/{{ ff.story_test_set_id }}/">关系图</a>
                                                    <a class="btn   btn-primary btn-xs " href="/story/test/cases/data/web/tree/{{ ff.story_test_set_id }}/">关系树图</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                </div>

{% endblock %}
{% block js %}
    <script src="{% static '/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static '/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static '/js/demo/datatables-demo.js' %}"></script>
{% endblock %}