{% extends 'web/layout/layoutlast.html' %}
{%  load static %}
{% block css %}
    <link href="{% static "css/sb-admin-2.min.css" %}" rel="stylesheet"  />
    <link href={% static "vendor/datatables/dataTables.bootstrap4.min.css" %} rel="stylesheet" />
{% endblock %}
{% block content %}

    <div class="container-fluid">
        <div class="card shadow mb-4">
                    <!-- DataTales Example -->
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">{{ tille }}</h6>
                        </div>
                            <div style="padding-left: 20px; padding-top: 20px; padding-right: 20px; display: flex; algin-items: center; justify-content: space-between;">
                            <form id="form"  enctype="multipart/form-data" action="/swagger/swagger/upload/" method="post">
                                <input type="file"  name="file">
                                <input type="submit" value="上传文件" class="filestyle btn btn-primary  pull-right" data-text="Open" data-input="false" >
                            </form>
                                <span style="color: red">{{ error }}</span>
                            <a href="/swagger/template/down/">
                                <span class="glyphicon "  aria-hidden="true"> 下载导入模版</span>
                             </a>
                        </div>

                        <div style="padding-left: 20px; padding-top: 20px;">
                            <a class="btn btn-success" style="width: 100px;"  href="/list/of/interfaces/add/"  >
                                <span class="glyphicon glyphicon-plus-sign"  aria-hidden="true"> 添加接口</span>
                            </a>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>接口名称</th>
                                                <th>请求方式</th>
                                                <th>版本ID</th>
                                                <th>所属环境</th>
                                                <th>URL</th>
                                                <th>创建类型</th>
                                                <th>创建人</th>
                                                <th>操作</th>


                                            </tr>
                                        </thead>

                                        <tbody>
                                        {%  for ff in ff %}
                                            <tr>
                                                <td  class=" test_cs ">{{ forloop.counter}}</td>
                                                <td  class=" test_cs ">{{ ff.interface_name }}</td>
                                                <td  class=" test_cs ">{{ ff.get_request_method_display }}</td>
                                                <td  class=" test_cs ">{{ ff.version_id.version_number }}</td>
                                                <td  class=" test_cs ">{{ ff.environment_id.environment_name }}</td>
                                                <td  class=" test_cs ">{{ ff.request_url }}</td>
                                                <td  class=" test_cs ">{{ ff.get_interface_add_type_display }}</td>
                                                <td  class=" test_cs ">{{  ff.creat_user }}</td>
                                                <td>
                                                        <a class="btn  btn-primary  btn-xs " href="/swagger/interfaceInfo/info/{{ ff.interface_id}}/">查看</a>
                                                </td>


                                            </tr>

                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                </div>

{% endblock %}
{% block js %}
    <script src="{% static '/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static '/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static '/js/demo/datatables-demo.js' %}"></script>
{% endblock %}