{% extends 'web/layout/layoutlast.html' %}
{%  load static %}
{% block css %}
    <link href="{% static "css/sb-admin-2.min.css" %}" rel="stylesheet"  />
    <link href={% static "vendor/datatables/dataTables.bootstrap4.min.css" %} rel="stylesheet" />
{% endblock %}
{% block content %}

    <div class="container-fluid">
        <div class="card shadow mb-4">
                    <!-- DataTales Example -->
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">{{ tille }}</h6>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>测试报告名称</th>
                                                <th>测试报告关联测试集合ID</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                        {%  for ff in data %}
                                            <tr>
                                                <td  class=" test_cs ">{{ forloop.counter}}</td>
                                                <td  class=" test_cs ">{{ ff.test_report_name }}</td>
                                                <td  class=" test_cs ">{{ ff.test_report_cases }}</td>

                                                <td>
                                                        <a class="btn  btn-success btn-xs" href="/test/report/view/{{ ff.test_report_id }}/">查看</a>
                                                </td>

                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                </div>

{% endblock %}
{% block js %}
    <script src="{% static '/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static '/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static '/js/demo/datatables-demo.js' %}"></script>
{% endblock %}