{% extends 'web/layout/layoutlast.html' %}
{%  load static %}
{% block css %}
    <link href="{% static "css/sb-admin-2.min.css" %}" rel="stylesheet"  />
    <link href={% static "vendor/datatables/dataTables.bootstrap4.min.css" %} rel="stylesheet" />
{% endblock %}
{% block content %}

    <div class="container-fluid">
        <div class="card shadow mb-4">
                    <!-- DataTales Example -->
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">{{ tille }}</h6>
                        </div>
                            <div>
                                <a class="btn btn-success " style="width: 100px ;display:block ; margin-top: 15px; margin-left: 15px"  href="/user/add/"  >
                                <span class="glyphicon glyphicon-plus-sign"  aria-hidden="true"> 新建用户</span>

                            </a>
                            </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>姓名</th>
                                                <th>邮箱</th>
                                                <th>手机号</th>
                                                <th>角色</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                        {%  for ff in fro %}
                                            <tr>
                                                <td  class=" test_cs ">{{ forloop.counter}}</td>
                                                <td  class=" test_cs ">{{ ff.username }}</td>
                                                <td  class=" test_cs ">{{ ff.email }}</td>
                                                <td  class=" test_cs ">{{ff.mobile_phone }}</td>
                                                <td class=" test_cs ">
                                                {% for ii in ff.role.all %}
                                                    {{ ii }}
                                                    {%  endfor %}
                                                </td>
                                                <td>
                                                        <a class="btn  btn-primary btn-xs" href="/user/edit/{{ ff.user_id }}/">编辑</a>
                                                        <a class="btn  btn-danger  btn-xs " href="/user/delet/{{ ff.user_id }}/">删除</a>
                                                </td>

                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                </div>

{% endblock %}
{% block js %}
    <script src="{% static '/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static '/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static '/js/demo/datatables-demo.js' %}"></script>
{% endblock %}