{% extends 'web/layout/layoutlast.html' %}
{%  load static %}
「% block css %}

{% block css %}
    <link href={% static "vendor/datatables/dataTables.bootstrap4.min.css" %} rel="stylesheet" />

{% endblock %}

{% block content %}
 <!-- Begin Page Content -->
    <div class="container-fluid">
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">用户权限列表</h6>
                        </div>
                        <div>
                                <a class="btn btn-success " style="width: 100px ;display:block ; margin-top: 15px; margin-left: 15px"  href="/permission/path/add/"  >
                                <span class="glyphicon glyphicon-plus-sign"  aria-hidden="true"> 新建权限</span>

                            </a>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>功能名称</th>
                                                <th>功能路径</th>
                                                <th>所属角色</th>
                                                <th>操作</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                        {%  for ff in fro %}
                                            <tr>
                                                <td  class=" test_cs ">{{ forloop.counter}}</td>
                                                <td  class=" test_cs ">{{ ff.permission_path_name }}</td>
                                                <td  class=" test_cs ">{{ ff.permission_path }}</td>
                                                <td  class=" test_cs ">
                                                    {% for i in ff.role.all %}
                                                        {{ i }}
                                                    {% endfor %}
                                                </td>


                                                <td>
                                                        <a class="btn  btn-primary btn-xs" href="/permission/path/edit/{{ ff.permission_path_id }}">编辑</a>
                                                        <a class="btn  btn-danger  btn-xs " href="/permission/path/delet/{{ ff.permission_path_id }}">删除</a>
                                                </td>

                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>



{% endblock %}
{% block js %}
    <script src="{% static '/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static '/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static '/js/demo/datatables-demo.js' %}"></script>

{% endblock %}